body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .swiper-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .swiper-wrapper {
    display: flex;
  }
  
  .swiper-slide {
    flex-shrink: 0 !important; /* Garantir que o slide não encolha */
    width: 300px; /* Defina um tamanho fixo para os slides */
    max-height: 350px; /*Defina a altura do slide*/
    min-height: 350px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Adiciona cantos arredondados à moldura */
    background-color: #fff; /* Garante que a moldura tenha um fundo branco */
    overflow: hidden; /* Evitar que a imagem ultrapasse os limites do slide */
  }
  
  .swiper-slide img {
    max-width: 70%;
    max-height: 50%;
    height: 60%;
    object-fit: cover; /* Ajusta a imagem para cobrir o slide */
    border-radius: 10px;
  }
  
  .swiper-button-next, .swiper-button-prev {
    font-size: 18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  